<?xml version="1.0" ?>
<config>
  <modules>
    <Magebuzz_Passwordstrong>
      <version>0.1.0</version>
    </Magebuzz_Passwordstrong>
  </modules>
  <frontend>
    <secure_url>
      <passwordstrong>/passwordstrong/</passwordstrong>
    </secure_url>
    <routers>
      <passwordstrong>
        <use>standard</use>
        <args>
          <module>Magebuzz_Passwordstrong</module>
          <frontName>passwordstrong</frontName>
        </args>
      </passwordstrong>
    </routers>
    <layout>
      <updates>
        <passwordstrong>
          <file>passwordstrong.xml</file>
        </passwordstrong>
      </updates>
    </layout>
  </frontend>
  <admin>
    <routers>
      <passwordstrong>
        <use>admin</use>
        <args>
          <module>Magebuzz_Passwordstrong</module>
          <frontName>passwordstrong</frontName>
        </args>
      </passwordstrong>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <passwordstrong>
          <file>passwordstrong.xml</file>
        </passwordstrong>
      </updates>
    </layout>
  </adminhtml>
  <global>
    <models>
      <passwordstrong>
        <class>Magebuzz_Passwordstrong_Model</class>
        <resourceModel>passwordstrong_mysql4</resourceModel>
      </passwordstrong>
      <passwordstrong_mysql4>
        <class>Magebuzz_Passwordstrong_Model_Mysql4</class>
        <entities>
          <passwordstrong>
            <table>passwordstrong</table>
          </passwordstrong>
        </entities>
      </passwordstrong_mysql4>
      <customer>
        <rewrite>
          <customer>Magebuzz_Passwordstrong_Model_Rewrite_Customer</customer>
        </rewrite>
      </customer>
    </models>
    <resources>
      <passwordstrong_setup>
        <setup>
          <module>Magebuzz_Passwordstrong</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </passwordstrong_setup>
      <passwordstrong_write>
        <connection>
          <use>core_write</use>
        </connection>
      </passwordstrong_write>
      <passwordstrong_read>
        <connection>
          <use>core_read</use>
        </connection>
      </passwordstrong_read>
    </resources>
    <blocks>
      <passwordstrong>
        <class>Magebuzz_Passwordstrong_Block</class>
      </passwordstrong>
    </blocks>
    <helpers>
      <passwordstrong>
        <class>Magebuzz_Passwordstrong_Helper</class>
      </passwordstrong>
    </helpers>
  </global>
  <default>
    <passwordstrong>
    </passwordstrong>
  </default>
  <translate>
    <modules>
      <Magebuzz_Passwordstrong>
        <files>
          <default>Magebuzz_Passwordstrong.csv</default>
        </files>
      </Magebuzz_Passwordstrong>
    </modules>
  </translate>
</config>