.meter_wrapper {float:left; width:100%; padding:5px 0;}
.meter_wrapper #meter { width:180px; height:6px; float:left; margin-top:8px;}
.meter_wrapper #meter span { display:none; float:left; width:30%; margin-right:3.3333%; height:6px; background:#E0E0E0;}
.meter_wrapper #meter.weak span,
.meter_wrapper #meter.good span,
.meter_wrapper #meter.strong span {display:block;}
.meter_wrapper #meter.weak span:nth-child(1){background:#552980;}
.meter_wrapper #meter.good span:nth-child(1),
.meter_wrapper #meter.good span:nth-child(2){background:#552980;}
.meter_wrapper #meter.strong span {background:#552980;}

#pass_str{ float:left; font-size:18px; }
.input-password {position:relative; float:left; width:100%;}
.input-password .box-passstrong {position:absolute; color:#000; font-size:22px; line-height:24px;  min-width:285px; top:1px; left:100%; margin-left:15px;  border:solid 1px #EBEBEB; padding:10px 25px; background:#fff;}
.input-password .box-passstrong:before,
.input-password .box-passstrong:after {content:""; position:absolute; width:0px; height:0px; top:10px;  border-top:solid 7px transparent; border-bottom:solid 7px transparent; }
.input-password .box-passstrong:before {border-right:solid 9px #EBEBEB; left:-10px;}
.input-password .box-passstrong:after {border-right:solid 9px #fff; left:-9px; }
.box-passstrong label {font-weight:normal; float:left; width:100%;}
.box-passstrong span { opacity:0.5;float:left; width:100%; padding-left:32px; background:url(icon-li.png) no-repeat left 2px; margin-top:5px;}
.box-passstrong span.change_class{  opacity:1;}